.profile__avatar-button {
  position: absolute;
  background-image: url(../../../images/edit-button.svg);
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  outline: none;
}

.profile__avatar-button:hover {
  opacity: 1;
  transition: opacity .3s ease-in-out;
  background: rgba(0, 0, 0, 0.8) url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
}