.popup__input {
  width: 358px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 auto;
  padding: 30px 0 13px;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:nth-child(-n+3) {
  padding-top: 54px;
}

@media screen and (max-width: 560px) {
  .popup__input {
    width: 238px;
  }
}



