.popup__name {
    width: 358px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
    margin: 0 auto;
    padding: 54px 0 13px;
    color: black;
}

@media screen and (max-width: 560px) {
    .popup__name {
        width: 238px;
        padding: 75px 0 13px;
    }
}