.profile__add-button {
    background-image: url(../../../images/Add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding: 0;
    margin-top: 35px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 920px) {
    .profile__add-button {
        margin: 36px auto 0;
        width: 282px;
    }
}