.elements {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 17px;
    padding-top: 47.25px;
}

@media screen and (max-width: 900px) {
    .elements {
        max-width: 581px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .elements {
        max-width: 282px;
        width: 100%;
        padding-top: 36px;
    }
}